@import "../globalstyles.scss";

.image{
    margin-top: 1rem;
    width: 100%;
    aspect-ratio: 16/6;
    border-radius: $rounded;
    object-fit: cover;
}
.movies{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
@media (max-width: 900px) {
    .movies{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }    
}