
.movieCard{
    display: flex;
    gap: 2rem;
    img{
        aspect-ratio: 2/3;
        width: 40%;
        object-fit: cover;
    }
    .details{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;
        a{
            margin-top: auto;
            margin-right: auto;
            font-size: 1.4rem;
            text-decoration: none;
        }
    }
}
@media (max-width: 900px) {
    .movieCard{
       img{
        width: 25%;
       }
    }    
}
@media (max-width: 650px) {
    .movieCard{
       img{
        width: 40%;
       }
    }    
}
@media (max-width: 500px) {
    .movieCard{
       img{
        width: 50%;
       }
    }    
}